<div
  attr.data-test-id="{{ dataTestId }}"
  id="color-picker"
  (click)="open = !open"
  class="w-50 flex items-center justify-between gap-4 rounded-md border border-gray-300 p-2 text-sm shadow-sm"
>
  <div class="flex items-center gap-4">
    <sd-circule-color [color]="colorSelected()?.primary ?? ''"></sd-circule-color>
    <span class="text-sm text-gray-700">
      {{ colorSelected()?.name }}
    </span>
  </div>
  <ng-icon name="featherChevronDown"></ng-icon>
</div>
@if (open) {
  <div class="absolute z-10 w-2/3 rounded-md bg-white shadow-lg">
    <div class="flex flex-col">
      @for (color of colorItemsModel(); track color.id) {
        <div
          attr.data-test-id="item-color-{{ color.name }}"
          class="flex cursor-pointer items-center gap-4 px-5 py-3 hover:bg-gray-100"
          (click)="onChange(color.id)"
        >
          <sd-circule-color [color]="color.primary"></sd-circule-color>
          <span class="text-sm text-gray-700">
            {{ color.name }}
          </span>
        </div>
      }
    </div>
  </div>
}
