<sd-card class="grid gap-2">
  <div class="bg-white p-8">
    <div class="columns-2 gap-4">
      <span
        class="text-2xl font-semibold"
        [attr.data-test-id]="'order-ref-' + order.ref"
        >Referencia: {{ order.ref }}</span
      >
      <sd-tag
        type="status"
        [text]="order.estado"
        [bgColor]="order.colorEstado"
        [icon]="order.iconEstado"
      />
    </div>
    <div class="grid gap-4">
      <div class="">
        <ng-icon name="lucideCalendar"></ng-icon>
        <label class="text-md ml-3 font-semibold">Turno:</label>
        <span class="text-md ml-2">{{ order.turno }}</span>
      </div>
      <div class="">
        <ng-icon name="lucideClock"></ng-icon>
        <label class="text-md ml-3 font-semibold">Fecha:</label>
        <span class="text-md ml-2">{{
          order.fecha | date: "d 'de' MMMM y, h:mm a"
        }}</span>
      </div>
      <div class="mb-4 mt-4 columns-2 gap-4">
        <sd-tag
          type="hexadecimal"
          [text]="order.maquina"
          [bgColor]="order.maquinaColorBg"
          [textColor]="order.maquinaColorText"
          icon="lucidePrinter"
        />
        <sd-tag
          type="hexadecimal"
          [text]="order.operador"
          [bgColor]="order.operadorColorBg"
          [textColor]="order.operadorColorText"
          icon="lucideUser"
        />
      </div>
    </div>
    <div class="mt-5 grid grid-cols-4 gap-4">
      <button
        class="rounded-lg border border-gray-300 bg-white px-4 py-2 text-sm text-gray-500 disabled:opacity-75"
        (click)="orderDetail.emit(order.id)"
      >
        Detalles
      </button>

      @if (order.estado === "Recibido" || order.estado === "Impedimento") {
        <button
          class="rounded-lg border border-gray-300 bg-white px-4 py-2 text-sm text-gray-500 disabled:opacity-75"
          (click)="orderEdit.emit(order.id)"
        >
          Editar
        </button>
      }
      @if (order.estado === "Recibido" || order.estado === "Impedimento") {
        <button
          class="rounded-lg bg-red-500 px-4 py-2 text-sm text-white"
          (click)="orderCancel.emit(order.id)"
        >
          Cancelar
        </button>
      }
    </div>
  </div>
</sd-card>
