<div class="grid grid-cols-4 gap-4">
  <div class="">
    <sd-search-field placeholder="Buscar pedidos..." />
  </div>
  <div class="flex items-center gap-4">
    <sd-checkbox
      checked="true"
      id="checkbox-date-now"
    ></sd-checkbox>
    <label for="check-arrived">
      Filtrar por fecha actual
    </label>
  </div>
  <sd-select
    itemSelected="all"
    [items]="status"
    (itemSelectedChange)="statusSelectedChange.emit($event)"
  />
  <sd-select
    [itemSelected]="machineSelected"
    [items]="machines"
    (itemSelectedChange)="machineSelectedChange.emit($event)"
  />
</div>
