<div class="max-w-md mx-auto bg-white">
  <form [formGroup]="machineForm">
    <div class="mb-4">
      <sd-input
        dataTestId="input-name-machine"
        id="machineName"
        type="text"
        formName="machineName"
        placeholder="Nombre"
      ></sd-input>

      @if(machineForm.get('machineName')?.invalid &&
      machineForm.get('machineName')?.touched){
      <div class="text-red-500 text-sm">Este campo es obligatorio</div>
      }
    </div>

    <div class="mb-4">
      <sd-input-color
        dataTestId="input-color-machine"
        (colorSelectedChange)="machineForm.patchValue({ color: $event })"
        [colorSelected]="machineForm.get('color')?.value"
      ></sd-input-color>

      @if(machineForm.get('color')?.invalid &&
      machineForm.get('color')?.touched){
      <div class="text-red-500 text-sm">Este campo es obligatorio</div>
      }
    </div>

    <div class="footter">
      <sd-button
        dataTestId="btn-cancel-machine"
        (click)="machineCancel.emit()"
        text="Cancelar"
        color="white"
      ></sd-button>
      <sd-button
        dataTestId="btn-save-machine"
        [disabled]="machineForm.invalid"
        text="Guardar"
        color="primary"
        (click)="onSubmit()"
      ></sd-button>
    </div>
  </form>
</div>
