<div class="container">
  <h1>Pedidos</h1>

  <app-filters />

  <div class="container_table">
    <div class="container_table__header">
      <div class="container_table__header-item">
        <div class="container_table__header-item-title">
          <span>REF</span>
        </div>
        <div class="container_table__header-item-title">
          <span>FECHA DEL PEDIDO</span>
        </div>
        <div class="container_table__header-item-title">
          <span>CLIENTE</span>
        </div>
        <div class="container_table__header-item-title">
          <span>ARCHIVO</span>
        </div>
        <div class="container_table__header-item-title">
          <span>MAQUINA</span>
        </div>

        <div class="container_table__header-item-title">
          <span>TECNICO</span>
        </div>
        <div class="container_table__header-item-title">
          <span>ESTADO</span>
        </div>
      </div>
    </div>

    <div class="table_body">
      <div class="row">
        <div class="cell">
          <div class="cell__title">
            <span>54893</span>
          </div>
        </div>
        <div class="cell">
          <div class="cell__title">
            <span>03 Sep 2024, 8:28 AM</span>
          </div>
        </div>
        <div class="cell">
          <span>Juan Pérez</span>
        </div>
        <div class="cell">
          <span>archivo.png</span>
        </div>
        <div class="cell">
          <sd-dropdown
          [listaItems]="maquinas"
          />
        </div>
        <div class="cell">
          <sd-dropdown
          [listaItems]="tecnicos"
          />
        </div>
        <div class="cell">
          <sd-dropdown
          [listaItems]="states" />
        </div>
      </div>
    </div>
  </div>
</div>
