<div class="container">
  <h1>Pedidos</h1>

  <app-filters
    [machines]="machines()"
    [machineSelected]="machineSelected()"
    (machineSelectedChange)="machineSelectedChange($event)"
    [status]="status()"
    [statusSelected]="statusSelected()"
    (statusSelectedChange)="statusSelected.set($event)"
  />

  <div class="container_table">
    <div class="container_table__header">
      <div class="container_table__header-item">
        <div class="container_table__header-item-title">
          <span>TURNO</span>
        </div>
        <div class="container_table__header-item-title">
          <span>HORA</span>
        </div>
        <div class="container_table__header-item-title">
          <span>CLIENTE</span>
        </div>
        <div class="container_table__header-item-title">
          <span>ARCHIVO</span>
        </div>
        <div class="container_table__header-item-title">
          <span>MÁQUINA</span>
        </div>
        <div class="container_table__header-item-title">
          <span>OPERADOR</span>
        </div>
        <div class="container_table__header-item-title">
          <span>ESTADO</span>
        </div>
      </div>
    </div>

    <div class="table_body">
      @for (order of orders(); track order.ref) {
      <div class="row">
        <div class="cell">
          <div class="cell__title">
            <span>{{ order.ref }}</span>
          </div>
        </div>
        <div class="cell">
          <div class="cell__title">
            <span>{{ order.fecha }}</span>
          </div>
        </div>
        <div class="cell">
          <span>{{ order.client }}</span>
        </div>
        <div
          class="cell file"
          (click)="downloadFile(order)"
        >
          <ng-icon name="tablerDownload" />
          <span>{{ order.nameFile }}</span>
        </div>
        <div class="cell">
          <sd-tag
            [isHexadecimal]="true"
            [text]="order.maquina"
            [bgColor]="order.colorBgMaquina"
            [textColor]="'#ffffff'"
            icon="lucidePrinter"
          />
        </div>
        <div class="cell">
          <sd-tag
            [isHexadecimal]="true"
            [text]="order.operador || 'Sin asignar'"
            [bgColor]="order.colorBgOperador || '#CCCCCC'"
            [textColor]="order.colorTextOperador || '#666666'"
            icon="lucideUser"
          />
        </div>
        <div class="cell">
          <sd-tag
            [text]="order.estado"
            [bgColor]="order.colorEstado"
            [textColor]="order.colorTextEstado"
            [icon]="order.iconEstado"
          />
        </div>
        <!-- <div class="cell">
          <sd-dropdown itemSelected="{{order.machine?.id}}" [iconPrinter]="true" (itemSelectedChange)="selectMachine(order.id, $event )" idUnique="machines-{{order.id}}" [listaItems]="maquinas" />
        </div>
        <div class="cell">
          <sd-dropdown itemSelected="{{order.tecnico?.id}}" (itemSelectedChange)="selectTecnico(order.id, $event )" idUnique="tecnicos-{{order.id}}" [listaItems]="tecnicos" />
        </div>
        <div class="cell">
          <sd-dropdown itemSelected="{{order.state?.id}}" (itemSelectedChange)="selectState(order.id, $event )" idUnique="states-{{order.id}}" [listaItems]="states" />
        </div> -->
      </div>
      }
    </div>
  </div>
</div>
