.app-container{
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.content {
  box-sizing: content-box;
  background-color: #f9fafb;
}

.content-nabvar{
  width: 100%;
  background-color: #FFF;
  height: 64px;
}
