<div class="relative flex h-screen items-center justify-center bg-primary">
  <sd-card class="min-h-[570px] w-96">
    <!-- Cambiamos h-[570px] por min-h-[570px] -->
    <div class="flex h-full flex-col p-10">
      <!-- Agregamos flex y flex-col -->
      <h1 class="mb-4 justify-self-center text-3xl font-bold">
        Iniciar sesión
      </h1>
      <p class="mb-4 text-sm text-gray-500">{{ textMessage }}</p>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-1 flex-col"
      >
        <!-- Agregamos flex y flex-col -->
        <div class="grid w-full flex-1 gap-6">
          <!-- Reducimos el gap de 10 a 6 -->
          <div class="grid">
            <label class="mb-2 text-xl text-gray-600" for="username"
              >Usuario</label
            >
            <input
              class="rounded-md border-2 border-gray-300 p-2"
              data-test-id="username"
              formControlName="username"
              type="text"
              (input)="onNameInput($event)"
              placeholder="Nombre de usuario"
            />
            <div class="h-6">
              @if (getErrorUsername) {
                <span class="text-red-600">Campo requerido</span>
              }
            </div>
          </div>

          <div class="grid">
            <label class="mb-2 text-xl text-gray-600" for="password">
              {{ getLabelCredentials }}
            </label>
            <input
              class="rounded-md border-2 border-gray-300 p-2"
              data-test-id="password"
              formControlName="password"
              [type]="typeCredentials"
              [value]="
                typeCredentials === 'string'
                  ? phoneNumber
                  : loginForm.get('password')?.value
              "
              [maxlength]="isAdmin ? 50 : 12"
              (input)="onPhoneInput($event)"
              [placeholder]="getLabelCredentials"
            />
            <div class="h-6">
              @if (getErrorPassword) {
                <span class="text-red-600">Campo requerido</span>
              }
              @if (getErrorPasswordFormat) {
                <span class="text-red-600"
                  >Debe ingresar un número de 10 dígitos</span
                >
              }
              @if (credentialsInvalid) {
                <span class="text-red-600">Credenciales incorrectas</span>
              }
            </div>
          </div>

          <div class="checkbox_remember">
            <input type="checkbox" id="remember" class="peer: mr-2" />
            <label
              for="remember"
              class="text-sm text-gray-600 peer-checked:text-primary"
            ></label>
            <label for="remember">Recordar datos</label>
          </div>

          <button
            data-test-id="btn-login"
            class="w-full rounded-md bg-primary py-2 text-white hover:opacity-90 disabled:opacity-50"
            [disabled]="loginForm.invalid || loading()"
          >
            {{
              loading()
                ? 'Iniciando sesión...'
                : 'Ingresar'
            }}
          </button>
        </div>

        <!-- Enlaces de cambio de modo de inicio de sesión -->
        <div class="mt-6 text-center">
          <!-- Nuevo contenedor para los enlaces -->
          @if (!isAdmin) {
            <span
              class="cursor-pointer text-primary"
              (click)="redirectToAdminLogin()"
              >Iniciar sesión como administrador</span
            >
          } @else {
            <span
              class="cursor-pointer text-primary"
              (click)="redirectToLogin()"
              >Iniciar sesión como operador</span
            >
          }
        </div>
      </form>
    </div>
  </sd-card>
</div>
