<div class="container-form-login">
  <sd-card class="card-form-login">
    <app-title test-id="title" text="Iniciar sesión" size="h2" class="title" />
    <p>{{textMessage}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="body-form-login">
        <div class="input-group">
          <label for="username">Usuario</label>
          <input
          data-test-id="username"
          formControlName="username" type="text" placeholder="" />
          @if (getErrorUsername) {
          <span class="error">Campo requerido</span>
          }
        </div>
        <div class="input-group">
          <label for="password">
            {{ getLabelCredentials }}
          </label>
          <input
            data-test-id="password"
            formControlName="password"
            [type]="typeCredentials"
            placeholder=""
          />
          @if (getErrorPassword) {
          <span class="error">Campo requerido</span>
          }
        </div>
        @if (credentialsInvalid) {
        <span class="error">Credenciales incorrectas</span>
        }
        <div class="checkbox_remember">
          <input type="checkbox" id="remember" />
          <label for="remember">Recordar datos</label>
        </div>

        <button data-test-id="btn-login" class="btn" [disabled]="loginForm.invalid">Ingresar</button>
        @if (!isAdmin) {
        <span class="linkRedirect" (click)="redirectToAdminLogin()">Iniciar sesión como administrador</span>
        }@else {
        <span class="linkRedirect" (click)="redirectToLogin()">Iniciar sesión como operador</span>
        }
      </div>
    </form>
  </sd-card>
</div>
