.container-form-login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #A855F7;
}

.card-form-login{
  width: 80%;
}

.title {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 32px;
}

p {
  text-align: center;
  height: 25px;
  opacity: 80%;
}

.body-form-login{
  width: 100%;
  display: grid;
  gap: 25px;
}

.input-group{
  display: grid;
}

label {
  font-weight: 600;
  font-size: 18px;
}

input {
  background-color: #F1F4F9 ;
}

.body-form-login input {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

span.error{
  color: red;
  font-size: 12px;
}

.btn{
  margin: auto;
  background-color: #9333EA;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  &:hover{
    background-color: var(--color-primary);
    opacity: 0.8;
  }
  .btn-disabled{
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:disabled{
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
}


