@if (type === "outline") {
  <button
    [attr.data-test-id]="dataTestId"
    class="
    {{ class }}
    text-{{
      size
    }} px-4 py-2 rounded-lg disabled:opacity-75 outline outline-2 outline-offset-2 text-type-text-{{
      color
    }} outline-type-bg-{{ color }} hover:outline-type-bg-{{
      color
    }} focus:outline-type-bg-{{ color }}"
    [disabled]="disabled"
  >
    {{ text }}
  </button>
} @else {
  <button
    [attr.data-test-id]="dataTestId"
    class="{{ class }}"
    [disabled]="disabled"
  >
    {{ text }}
  </button>
}
