<div class="container">
  <h1>Mis pedidos</h1>
  <div class="container-filters">
    <sd-select
      (itemSelectedChange)="storeSelected = $event"
      [itemSelected]="storeSelected"
      [items]="stores()"
    ></sd-select>
    <sd-search-field placeholder="Buscar pedidos..." />
    <sd-select
      itemSelected=""
      idUnique="my-orders"
      [items]="status"
    ></sd-select>
    <div class="flex items-center gap-4">
      <sd-checkbox
        id="check-arrived"
        label="Archivados"
      />
      <label for="check-arrived">
        Archivados
      </label>
    </div>
  </div>

  <div class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
    @for (order of orders(); track order.ref) {
      <order-card [order]="order"/>
    }
  </div>
</div>
