<div class="container mx-auto pt-4">
  <h1 class="my-5 w-fit text-4xl font-bold text-gray-600">Operadores</h1>
  <div class="mb-5 flex justify-end">
    <sd-button
      dataTestId="btn-add-operator"
      (click)="modalCreateOperator()"
      text="Agregar operador"
      color="primary"
    ></sd-button>
  </div>

  @if (messageError() && !loading()) {
    <sd-alert
      type="error"
      text="{{ messageError() }}"
      [reload]="reload()"
      (reloadClick)="updateOperator()"
    ></sd-alert>
  } @else {
    @if (loading()) {
      <div class="flex items-center justify-center">
        <div class="text-center">
          <sd-spinner />
        </div>
      </div>
    } @else {
      @if (operators().length === 0) {
        <div class="flex items-center justify-center">
          <div class="text-center">
            <span class="text-gray-600">No hay maquinas registradas</span>
          </div>
        </div>
      } @else {
        <sd-table
          [data]="operators"
          [config]="tableConfig"
          (actionClick)="onActionClick($event)"
        >
        <ng-template [sdCustomColumn]="'color'" let-operator>
          <div class="flex items-center gap-4">
            <sd-circule-color
              [color]="operator.color.hex"
            />
            <span class="text-sm text-gray-700">
              {{ operator.color.name }}
            </span>
          </div>
        </ng-template>
        </sd-table>
      }
    }
  }
</div>

<sd-dialog #dialogAddOperator title="Agregar operador">
  <app-form-create-operator
    (operatorCreated)="dialogAddOperator.closeDialog(); updateOperator()"
    (operatorCancel)="dialogAddOperator.closeDialog()"
  ></app-form-create-operator>
</sd-dialog>

<sd-dialog #dialogEditOperator title="Editar operador">
  <app-form-edit-operator
    [operatorEdit]="operatorEdit"
    (operatorUpdated)="dialogEditOperator.closeDialog(); updateOperator()"
    (operatorCancel)="dialogEditOperator.closeDialog()"
  ></app-form-edit-operator>
</sd-dialog>
