@switch (type) {
  @case ('hexadecimal') {
    <span
    [style.backgroundColor]="bgColor"
    [style.color]="textColor"
    class="px-3 py-1 rounded-full">
      <ng-icon [name]="icon" aria-hidden="true" />
      {{ text }}
    </span>
  }
  @case ('status') {
    <span [class]="getClassStatus">
      <ng-icon [name]="icon" aria-hidden="true" />
      {{ text }}
    </span>
  }
  @case ('machine') {
    <span [class]="getClass">
      <ng-icon [name]="icon" aria-hidden="true" />
      {{ text }}
    </span>
  }
}
