<div class="w-full gap-4">
  @if (messageError()) {
    <div data-test-id="messageError" class="bg-red-400 w-full text-white text-sm p-3 rounded-lg mb-4 transition-all">
      {{messageError()}}
    </div>
  }
  <div class="h-full grid grid-cols-2 gap-4" [formGroup]="storeForm">
    <div class="body__item">
      <sd-input dataTestId="input-name-store" placeholder="Nombre de la tienda" formName="name"></sd-input>
    </div>
    <div class="body__item">
      <sd-input dataTestId="input-address-store" placeholder="Direccion"  formName="address"></sd-input>
    </div>
    <div class="body__item">
      <sd-input dataTestId="input-username-store" placeholder="Encargado de la tienda"  formName="username"></sd-input>
    </div>
    <div class="body__item">
      <sd-input dataTestId="input-password-store" placeholder="Nueva contraseña"  formName="password"></sd-input>
    </div>
  </div>
  <div class="mt-6 flex justify-center gap-4">
    <sd-button dataTestId="btn-cancel-store" text="Cancelar" color="secondary" type="outline" (click)="cancel()" ></sd-button>
    <sd-button dataTestId="btn-save-store" [disabled]="storeForm.invalid" text="Guardar" color="primary" type="solid" (click)="onSubmit()"></sd-button>
  </div>
</div>
